* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 }
 html,
 body {
  background-color: #fff;
  color: #21243d;
  font-family:'Heebo', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
 }
 
 .clearfix{zoom: 1;}
 .clearfix::after{
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
 }
 /* ---------reusable components----------- */
 .row {
  max-width: 1140px;
  margin: 0 auto;
 }
 section{
   padding: 0 12.8%;
 }
 .box{
  padding: 1%;
 }

 /* -----------------LINKS---------------- */
a:link,
a:visited{
 color: #21243d;
 text-decoration: none;
 padding-bottom: 1px;
 border-bottom: 1px solid #FF6464;
 transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active{ 
 color: #FF6464;
 border-bottom: 1px solid transparent;
}

/* ------The header------ */
.nav{
  display: flex;
  margin-top: 55px;
  justify-content: flex-end;
  margin-right: 60px;
  }
  
  .nav svg  {
    display: none;
  }
  
  .main-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    
    margin-right: 60px;
  }  
  
  .main-nav li{
     display: inline-block;
     margin-left: 40px;
  }
  .main-nav li a:link,
  .main-nav li a:visited{
  text-decoration: none;
  color: #21243d;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding: 8px 0px;
  }
  .main-nav li a:hover,
  .main-nav li a:active{
  color: #FF6464;
  }

  .work{
  display: flex;
  padding: 29px 0px;
  }

.sub-head{
  text-align: left;
  font-size: 44px;
  font-weight: 900;
  margin-top: 120px;
  margin-bottom: 40px;
  line-height: 60px;
}

  .work-image {
    margin-right: 18px;
  }
  .work-properties {
    display: flex;
  }

.work-title{
  margin-bottom: 20px;
}

  .work-date{
    background-color:  #142850;
    color: #ffffff;
    padding: 0 17px;
    border-radius: 16px;
    font-weight: 900;
  }
  .work-tag {
    color: #8695A4;
    font-size: 20px;
    margin-left: 26px;
  }
  
  .work-details {
    margin-top: 17px;
  }


  /* -----------WORK DETAILS------------- */

  .work_details-properties {
    display: flex;
  }

.work_details-title{
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 700;
  line-height: 49.94px;
}

  .work_details-date{
    background-color:  #FF7C7C;
    color: #ffffff;
    padding: 0 4px;
    border-radius: 16px;
    font-weight: 900;
  }
  .work_details-tag {
    color: #21243d;
    font-size: 20px;
    font-weight: 400;
    margin-left: 26px;
  }

  .work-img{
    display: flex;
    padding: 29px 0px;
    }

  .long-copy2{
      font-size: 16px;
     font-weight: 400;
     line-height: 23.5px;
     letter-spacing: 1px;
     color: #21243d;
     margin-bottom: 30px;
     text-align: left;
  }

  .font3{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 17px;
  }

  .font4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 17px;
  }
  


  /* -----------BLOG----------------- */

  .blog{
    display: flex;
    flex-direction: column;
    border-bottom:  1px solid #E0E0E0;
    padding: 29px 0px;
    }

    .blog-properties {
      display: flex;
    }
  
  .blog-title{
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
    
  .blog-tag {
      color: #8695A4;
      font-size: 20px;
      margin-left: 26px;
    }
    
    .blog-details {
      margin-top: 17px;
    
    }

/* ---------FOOTER--------------- */
  .social-media{
    display: flex;
    justify-content: center;
    margin-top: 134px;
  }
  
  .icon{
    margin-right: 35px;
    margin-bottom: 26px;
  }
  .copy{
    text-align: center;
    margin-bottom: 54px;
  }
  


  /* ----------------------------QUERIES------------------------------------ */

@media screen and (max-width: 480px) {
  section{
    padding: 0 4%;
  }

  h1{
    margin: 0;
    margin-bottom: 20px; 
    font-size: 32px;
    font-weight:700 ;
    word-spacing: 2px;
    line-height: 40px;
    text-align: center;
   }
   h2{
    font-size: 24px;
    font-weight: 700;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 30px;
   }
   h3{
    font-size:22px ;
    font-weight: 700;
    line-height: 30px;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 15px;
   }
   /* ---------PARAGRAPHS------ */
   .long-copy{
     font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    letter-spacing: 1px;
    color: #21243d;
    margin-bottom: 30px;
   }
   
   .long-copy2{
    font-size: 16px;
   font-weight: 400;
   line-height: 23.5px;
   letter-spacing: 1px;
   color: #21243d;
   margin-bottom: 30px;
   text-align: left;
  }

.main-nav{
  display: none;
}
.nav svg  {
  display: block;
}

.long-copy {
  text-align: center;
}

.work{
   display: flex;
   flex-direction: column;
}

.sub-head{
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 40px;
}

.work-image img{
  width: 416px;
  height: 282px;
  margin-bottom: 20px;
  align-items: center;
  }

}


/* -----------WORK DETAILS------------- */

.work_details-title{
margin-bottom: 30px;
font-size: 30px;
font-weight: 700;
line-height: 40px;
}

.work_details-date{
  background-color:  #FF7C7C;
  color: #ffffff;
  padding: 0 8px;
  border-radius: 16px;
  font-weight: 600;
}
.work_details-tag {
  color: #21243d;
  font-size: 18px;
  font-weight: 400;
  margin-left: 26px;
}

.work_details-img img{
  width: 339px;
  height: 256px;
  margin-bottom: 20px;
  align-items: center;
}

.work-details{
  margin-bottom: 30px;
}




@media screen and (max-width: 411px) {
  section{
    padding: 0 4%;
  }

  h1{
    margin: 0;
    margin-bottom: 20px; 
    font-size: 32px;
    font-weight:700 ;
    word-spacing: 2px;
    line-height: 40px;
    text-align: center;
   }
   h2{
    font-size: 24px;
    font-weight: 700;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 30px;
   }
   h3{
    font-size:22px ;
    font-weight: 700;
    line-height: 30px;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 15px;
   }
   /* ---------PARAGRAPHS------ */
   .long-copy{
     font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    letter-spacing: 1px;
    color: #21243d;
    margin-bottom: 30px;
   }
   
   .long-copy2{
    font-size: 16px;
   font-weight: 400;
   line-height: 23.5px;
   letter-spacing: 1px;
   color: #21243d;
   margin-bottom: 30px;
   text-align: left;
  }

.main-nav{
  display: none;
}
.nav svg  {
  display: block;
}

.long-copy {
  text-align: center;
}

.work{
   display: flex;
   flex-direction: column;
}

.sub-head{
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-top: px;
  margin-bottom: 5px;
  line-height: 40px;
}

.work-image img{
  width: 380px;
  height: 244px;
  margin-bottom: 20px;
  align-items: center;
  }

}



@media screen and (max-width: 375px) {
  section{
    padding: 0 4%;
  }

  h1{
    margin: 0;
    margin-bottom: 20px; 
    font-size: 32px;
    font-weight:700 ;
    word-spacing: 2px;
    line-height: 40px;
    text-align: center;
   }
   h2{
    font-size: 24px;
    font-weight: 700;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 30px;
   }
   h3{
    font-size:22px ;
    font-weight: 700;
    line-height: 30px;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 15px;
   }
   /* ---------PARAGRAPHS------ */
   .long-copy{
     font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    letter-spacing: 1px;
    color: #21243d;
    margin-bottom: 30px;
   }

   .long-copy2{
    font-size: 16px;
   font-weight: 400;
   line-height: 23.5px;
   letter-spacing: 1px;
   color: #21243d;
   margin-bottom: 30px;
   text-align: left;
  }

   
.main-nav{
  display: none;
}
.nav svg  {
  display: block;
}


 .long-copy {
  text-align: center;
}


.work{
  display: flex;
  flex-direction: column;
}

.sub-head{
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 40px;
}

.work-image img{
  width: 340px;
  height: 230px;
  margin-bottom: 20px;
  align-items: center;
}

.work_details-img img{
  width: 339px;
  height: 256px;
  margin-bottom: 20px;
  align-items: center;
}

}